<?xml version='1.0' encoding='UTF-8'?>
<urlset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd" xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">

	[% FOREACH url IN urls %]
		[% IF url.loc %]
			<url>
				<loc>[% url.loc %]</loc>
			    [% IF url.lastmod %]<lastmod>[% url.lastmod %]</lastmod>[% END %]		
			    [% IF url.changefreq %]<changefreq>[% url.changefreq %]</changefreq>[% END %]		
			    [% IF url.priority %]<priority>[% url.priority %]</priority>[% END %]
			</url>
		[% END %]
	[% END %]

</urlset>

