<?xml version='1.0' encoding='UTF-8'?>
<sitemapindex xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/siteindex.xsd" xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">

	[% FOREACH sitemap IN sitemaps %]
		[% IF sitemap.loc %]
			<sitemap>
				<loc>[% sitemap.loc %]</loc>
			    [% IF sitemap.lastmod %]<lastmod>[% sitemap.lastmod %]</lastmod>[% END %]		
			</sitemap>
		[% END %]
	[% END %]

</sitemapindex>