// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

// Globals
// $font-family-root: 'Roboto', Arial, Helvetica, sans-serif;
// $font-size-root: 11.5pt;
// $line-height-root: 1.42857143;

$material-light: (
  toolbar: #757575 // grey darken-1
);
$material-dark: (
  toolbar: #000
 );