<p>Hello [% username %],</p>
<p>Use the following link to reset your PHAIDRA password:</p>
<p><a href="[% reset_url %]">Reset your password</a></p>
<p>This link expires in [% expires_minutes %] minutes. If you did not request this reset, ignore this message.</p>
