$phaidrablue = {
  "base":       #1A74B0, // univie
  "lighten-5":  #E3F2FD,
  "lighten-4":  #BBDEFB,
  "lighten-3":  #90CAF9,
  "lighten-2":  #64B5F6,
  "lighten-1":  #42A5F5,
  "darken-1":   #1E88E5,
  "darken-2":   #1976D2,
  "darken-3":   #1565C0,
  "darken-4":   #0D47A1,
  "accent-1":   #82B1FF,
  "accent-2":   #448AFF,
  "accent-3":   #2979FF,
  "accent-4":   #2962FF
}

$phaidragrey = {
  "base":       #777777, // univie
  "lighten-5":  #F9F9F9, // univie
  "lighten-4":  #F2F2F2, // univie
  "lighten-3":  #EEEEEE,
  "lighten-2":  #A4A4A4, // univie
  "lighten-1":  #7B7B7B, // univie
  "darken-1":   #757575,
  "darken-2":   #616161,
  "darken-3":   #424242,
  "darken-4":   #333333 // univie
}
