/* 

Styling for showcase phaidra partners

*/

#partner-logos a img, #partner-logos a svg {
  height: 120px;
  width: auto;
}

#partner-logos a, #partner-logos svg {
  filter: grayscale(100%);
}

#partner-logos a:hover {
  filter: grayscale(0%);
}

#partner-logos a:hover {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

#partner-logos a:hover {
  --tw-scale-x: .95;
  --tw-scale-y: .95;
}
