apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    phaidra.app: libvips
  name: libvips-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      phaidra.app: libvips
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/libvips-configmap.yaml") . | sha256sum }}
      labels:
        phaidra.app: libvips
    spec:
      containers:
        - env:
            - name: MONGODB_HOST
              value: mongodb-phaidra-service
            - name: IMAGE_CONVERSION_INTERVAL
              value: "{{ .Values.IMAGE_CONVERSION_INTERVAL }}"
            - name: MONGODB_PHAIDRA_USER
              value: "{{ .Values.MONGODB_PHAIDRA_USER }}"
            - name: MONGODB_PHAIDRA_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: "phaidra-access"
                  key: "MONGODB_PHAIDRA_PASSWORD"
            - name: DERIVATES_IMAGES_PATH
              value: "/mnt/derivates-images"
            - name: FEDORA_ADMIN_PASS
              valueFrom:
                secretKeyRef:
                  name: "phaidra-access"
                  key: "FEDORA_ADMIN_PASSWORD"
            - name: FEDORA_ADMIN_USER
              value: "{{ .Values.FEDORA_ADMIN_USER }}"
            - name: FEDORA_HOST
              value: "{{ .Values.FEDORA_HOST }}"
            - name: FEDORA_PROTOCOL
              value: "{{ .Values.FEDORA_PROTOCOL }}"
            - name: FEDORA_PORT
              value: "{{ .Values.FEDORA_PORT }}"
            {{- if .Values.s3 }}
            - name: S3_ENABLED
              value: "true"
            - name: S3_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: "phaidra-s3-access"
                  key: "AWS_ACCESS_KEY_ID"
            - name: S3_BUCKETNAME
              valueFrom:
                secretKeyRef:
                  name: "phaidra-s3-access"
                  key: "BUCKET_NAME"
            - name: S3_ENDPOINT
              valueFrom:
                secretKeyRef:
                  name: "phaidra-s3-access"
                  key: "ENDPOINT_URL"
            - name: S3_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: "phaidra-s3-access"
                  key: "AWS_SECRET_ACCESS_KEY"
            {{- end }}
          image: phaidraorg/libvips-dist:1aec19f1
          name: libvips
          resources:
            requests:
              cpu: "50m"
              memory: "50M"
            limits:
              cpu: "150m"
              memory: "500M"
          volumeMounts:
            - mountPath: /mnt/fedora
              name: fedora
              readOnly: true
            - mountPath: /mnt/derivates-images
              name: libvips
            - mountPath: /config
              name: libvips-config
              readOnly: true
          command: ["/bin/sh"]
          args: [ "-c", "cp /config/libvips_conf.yml /opt/libvips/libvips_conf.yml && perl libvips.pl --watch"]
      restartPolicy: Always
      volumes:
        - name: fedora
          persistentVolumeClaim:
            claimName: fedora-pvc
            readOnly: true
        - name: libvips
          persistentVolumeClaim:
            claimName: libvips-pvc
        - name: libvips-config
          configMap:
            name: libvips-config
            items:
              - key: "libvips_conf.yml"
                path: "libvips_conf.yml"
status: {}
