apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    phaidra.app: dbgate
  name: dbgate-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      phaidra.app: dbgate
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        phaidra.app: dbgate
    spec:
      containers:
        - env:
            - name: CONNECTIONS
              value: con1,con2,con3
            - name: ENGINE_con1
              value: mariadb@dbgate-plugin-mysql
            - name: ENGINE_con2
              value: mariadb@dbgate-plugin-mysql
            - name: ENGINE_con3
              value: mongo@dbgate-plugin-mongo
            - name: LABEL_con1
              value: MariaDB-Phaidra
            - name: LABEL_con2
              value: MariaDB-Fedora
            - name: LABEL_con3
              value: MongoDB-Phaidra
            - name: LOGINS
              value: phaidra
            - name: LOGIN_PASSWORD_phaidra
              valueFrom:
                secretKeyRef:
                  name: "phaidra-access"
                  key: DBGATE_PASS
            - name: PASSWORD_con1
              valueFrom:
                secretKeyRef:
                  name: "phaidra-access"
                  key: "MARIADB_PHAIDRA_PASSWORD"
            - name: PASSWORD_con2
              valueFrom:
                secretKeyRef:
                  name: "phaidra-access"
                  key: "MARIADB_FEDORA_PASSWORD"
            - name: PASSWORD_con3
              valueFrom:
                secretKeyRef:
                  name: "phaidra-access"
                  key: "MONGODB_PHAIDRA_PASSWORD"
            - name: PORT_con1
              value: "3306"
            - name: PORT_con2
              value: "3306"
            - name: PORT_con3
              value: "27017"
            - name: SERVER_con1
              value: mariadb-phaidra-service
            - name: SERVER_con2
              value: mariadb-fedora-service
            - name: SERVER_con3
              value: mongodb-phaidra-service
            - name: USER_con1
              value: "{{ .Values.MARIADB_PHAIDRA_USER }}"
            - name: USER_con2
              value: "{{ .Values.MARIADB_PHAIDRA_USER }}"
            - name: USER_con3
              value: "{{ .Values.MONGODB_PHAIDRA_USER }}"
            - name: WEB_ROOT
              value: /dbgate
          image: dbgate/dbgate:6.6.9
          # the default command writes to /etc/hosts which is not possible or necessary in openshift
          command: ["node"]
          args: ["bundle.js", "--listen-api"]
          name: dbgate
          resources:
            requests:
              cpu: "10m"
              memory: "200M"
            limits:
              cpu: "50m"
              memory: "600M"
          volumeMounts:
            - mountPath: /.dbgate
              name: dbgate
      restartPolicy: Always
      volumes:
        - name: dbgate
          persistentVolumeClaim:
            claimName: dbgate-pvc
status: {}
