apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    phaidra.app: fedora
  name: fedora-pvc
  annotations:
    helm.sh/resource-policy: keep
spec:
  storageClassName: "{{ .Values.FEDORA_PVC_TYPE }}"
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: "{{ .Values.FEDORA_PVC_SIZE }}"
status: {}
