apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    phaidra.app: fedora
  name: fedora-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      phaidra.app: fedora
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        phaidra.app: fedora
    spec:
      containers:
        - env:
            - name: CATALINA_OPTS
              {{- if .Values.s3 }}
              value: >-
                -Dfcrepo.aws.region={{ .Values.s3.S3_REGION }}
                -Dfcrepo.ocfl.s3.bucket={{ .Values.s3.S3_BUCKETNAME }}
                -Dfcrepo.ocfl.s3.prefix=fedora
                -Dfcrepo.s3.endpoint={{ .Values.s3.S3_ENDPOINT }}
                -Dfcrepo.s3.path.style.access=true
                -Dfcrepo.ocfl.s3.db.enabled=false
                -Dfcrepo.storage=ocfl-s3
                -Dfcrepo.db.password={{ .Values.MARIADB_PHAIDRA_PASSWORD }}
                -Dfcrepo.db.url=jdbc:mariadb://mariadb-fedora-service:3306/{{ .Values.FEDORADB }}
                -Dfcrepo.db.user={{ .Values.MARIADB_PHAIDRA_USER }}
              {{- else }}
              value: >-
                -Dfcrepo.db.password={{ .Values.MARIADB_PHAIDRA_PASSWORD }}
                -Dfcrepo.db.url=jdbc:mariadb://mariadb-fedora-service:3306/{{ .Values.FEDORADB }}
                -Dfcrepo.db.user={{ .Values.MARIADB_PHAIDRA_USER }}
              {{- end }}
            - name: FEDORA_ADMIN_PASSWORD
              value: "{{ .Values.FEDORA_ADMIN_PASS }}"
            - name: FEDORA_ADMIN_USERNAME
              value: "{{ .Values.FEDORA_ADMIN_USER }}"
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: "phaidra-s3-access"
                  key: "AWS_ACCESS_KEY_ID"
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: "phaidra-s3-access"
                  key: "AWS_SECRET_ACCESS_KEY"
            - name: AWS_DEFAULT_REGION
              valueFrom:
                secretKeyRef:
                  name: "phaidra-s3-access"
                  key: AWS_REGION
          image: fcrepo/fcrepo:6.5.1-tomcat9
          name: fedora
          resources: {}
          volumeMounts:
            - mountPath: /usr/local/tomcat/fcrepo-home
              name: fedora
      # if fedora starts along other pods, it fails to connect to mariadb-fedora and gets stuck
      # with error message 'To prevent a memory leak, the JDBC Driver has been forcibly unregistered'
      # therefore wait for database to be up first
      initContainers:
      - name: init-fedora
        image: mysql
        command: ['sh', '-c', "until mysql --connect-timeout 1 -h mariadb-fedora-service --user {{ .Values.MARIADB_PHAIDRA_USER }} -p{{ .Values.MARIADB_PHAIDRA_PASSWORD }} -e exit; do sleep 1; done"]
      restartPolicy: Always
      volumes:
        - name: fedora
          persistentVolumeClaim:
            claimName: fedora-pvc
status: {}
