apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: httpd-ingress
  labels:
    phaidra.app: httpd
  annotations:
    cert-manager.io/issuer: "letsencrypt-prod"
spec:
  tls:
    - hosts: ["{{ .Values.PHAIDRA_HOSTNAME }}"]
      secretName: httpd-ingress-tls
  rules:
  - host: "{{ .Values.PHAIDRA_HOSTNAME }}"
    http:
      paths:
      - path: "/"
        pathType: Prefix
        backend:
          service:
            name: httpd-service
            port:
              number: 80
