apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    phaidra.app: imageserver
  name: imageserver-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      phaidra.app: imageserver
  strategy:
    type: Recreate
  template:
    metadata:
      creationTimestamp: null
      labels:
        phaidra.app: imageserver
    spec:
      containers:
        - image: image-registry.openshift-image-registry.svc:5000/{{ .Release.Namespace }}/iipsrv-imagestream:latest
          env:
            - name: PORT
              value: "9000"
            - name: VERBOSITY
              value: "10"
            - name: FILESYSTEM_PREFIX
              value: "/mnt/mnt/derivates-images"
            - name: BASE_URL
              value: "{{ .Values.OUTSIDE_HTTP_SCHEME }}://{{ .Values.PHAIDRA_HOSTNAME }}{{ .Values.PHAIDRA_PORTSTUB }}{{ .Values.PHAIDRA_HOSTPORT }}/api/imageserver?IIIF="
            - name: LIGHTTPD_PORT
              value: "8000"
          name: imageserver
          resources:
            requests:
              cpu: "10m"
              memory: "20M"
            limits:
              cpu: "100m"
              memory: "100M"
          volumeMounts:
            - mountPath: /mnt
              name: derivates-images
              readOnly: true
      restartPolicy: Always
      volumes:
        - name: derivates-images
          persistentVolumeClaim:
            claimName: derivates-images-pvc
            readOnly: true
status: {}
