apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    phaidra.app: imageserver
  name: imageserver-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      phaidra.app: imageserver
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        promtail.io/scrape: 'true'
      creationTimestamp: null
      labels:
        phaidra.app: imageserver
    spec:
      containers:
        - image: phaidraorg/imageserver:3f02aeec
          env:
            - name: IMAGESERVER_ROOT_PATH
              value: "/mnt/converted_images"
            - name: CONVERTED_IMAGES_PATH
              value: "/mnt/converted_images"
          name: imageserver
          resources: {}
          volumeMounts:
            - mountPath: /mnt/converted_images
              name: pixelgecko
              readOnly: true
      restartPolicy: Always
      volumes:
        - name: pixelgecko
          persistentVolumeClaim:
            claimName: pixelgecko-pvc
            readOnly: true
status: {}
