apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    phaidra.app: mariadb-phaidra
  name: mariadb-phaidra-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      phaidra.app: mariadb-phaidra
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        phaidra.app: mariadb-phaidra
    spec:
      containers:
        - env:
            - name: MARIADB_DATABASE
              value: "{{ .Values.PHAIDRADB }}"
            - name: MARIADB_PASSWORD
              value: "{{ .Values.MARIADB_PHAIDRA_PASSWORD }}"
            - name: MARIADB_ROOT_PASSWORD
              value: "{{ .Values.MARIADB_ROOT_PASSWORD }}"
            - name: MARIADB_USER
              value: "{{ .Values.MARIADB_PHAIDRA_USER }}"
          image: phaidraorg/mariadb-phaidra-dist:ff704002
          name: mariadb-phaidra
          resources:
            requests:
              cpu: "10m"
              memory: "50M"
            limits:
              cpu: "20m"
              memory: "300M"
          volumeMounts:
            - mountPath: /var/lib/mysql
              name: mariadb-phaidra
          securityContext:
            allowPrivilegeEscalation: false
      restartPolicy: Always
      volumes:
        - name: mariadb-phaidra
          persistentVolumeClaim:
            claimName: mariadb-phaidra-pvc
status: {}
