apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    phaidra.app: mariadb-fedora
  name: mariadb-fedora-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      phaidra.app: mariadb-fedora
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        phaidra.app: mariadb-fedora
    spec:
      containers:
        - env:
            - name: MARIADB_DATABASE
              value: "{{ .Values.FEDORADB }}"
            - name: MARIADB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: "phaidra-access"
                  key: "MARIADB_FEDORA_PASSWORD"
            - name: MARIADB_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: "phaidra-access"
                  key: "MARIADB_FEDORA_ROOT_PASSWORD"
            - name: MARIADB_USER
              value: "{{ .Values.MARIADB_PHAIDRA_USER }}"
          image: phaidraorg/mariadb-fedora-dist:f21114b6
          name: mariadb-fedora
          resources:
            requests:
              cpu: "50m"
              memory: "50M"
            limits:
              cpu: "150m"
              memory: "150M"
          volumeMounts:
            - mountPath: /var/lib/mysql
              name: mariadb-fedora
          securityContext:
            allowPrivilegeEscalation: false
          # set port and set name to make it to kube-dns
          ports:
            - containerPort: 3306
      restartPolicy: Always
      volumes:
        - name: mariadb-fedora
          persistentVolumeClaim:
            claimName: mariadb-fedora-pvc
status: {}
