apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    phaidra.app: openldap
  name: openldap-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      phaidra.app: openldap
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        phaidra.app: openldap
    spec:
      containers:
        - env:
            - name: "LDAP_ADMIN_PASSWORD"
              value: "{{ .Values.LDAP_ADMIN_PASSWORD }}"
            - name: "LDAP_ADMIN_USERNAME"
              value: "{{ .Values.LDAP_ADMIN_USERNAME }}"
            - name: "LDAP_CUSTOM_LDIF_DIR"
              value: "/ldifs"
            - name: "LDAP_PORT_NUMBER"
              value: "{{ .Values.LDAP_PORT_NUMBER }}"
            - name: "LDAP_ROOT"
              value: "{{ .Values.LDAP_ROOT }}"
          image: phaidraorg/openldap-dist:deea3eb5
          name: openldap
          resources:
            requests:
              cpu: "1m"
              memory: "10M"
            limits:
              cpu: "10m"
              memory: "50M"
          volumeMounts:
            - mountPath: /bitnami/openldap
              name: openldap
          securityContext:
            allowPrivilegeEscalation: false
            #see https://github.com/bitnami/containers/issues/40841
            capabilities:
              drop:
                - ALL
              add:
                - NET_BIND_SERVICE
      restartPolicy: Always
      volumes:
        - name: openldap
          persistentVolumeClaim:
            claimName: openldap-pvc
status: {}
