apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    phaidra.app: pixelgecko
  name: pixelgecko-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      phaidra.app: pixelgecko
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        promtail.io/scrape: 'true'
        checksum/config: {{ include (print $.Template.BasePath "/pixelgecko-configmap.yaml") . | sha256sum }}
      labels:
        phaidra.app: pixelgecko
    spec:
      containers:
        - env:
            - name: MONGODB_HOST
              value: mongodb-phaidra-service
            - name: IMAGE_CONVERSION_INTERVAL
              value: "{{ .Values.IMAGE_CONVERSION_INTERVAL }}"
            - name: MONGODB_PHAIDRA_USER
              value: "{{ .Values.MONGODB_PHAIDRA_USER }}"
            - name: MONGODB_PHAIDRA_PASSWORD
              value: "{{ .Values.MONGODB_PHAIDRA_PASSWORD }}"
            - name: CONVERTED_IMAGES_PATH
              value: "/"
            - name: FEDORA_ADMIN_PASS
              value: "{{ .Values.FEDORA_ADMIN_PASS }}"
            - name: FEDORA_ADMIN_USER
              value: "{{ .Values.FEDORA_ADMIN_USER }}"
            - name: FEDORA_HOST
              value: "{{ .Values.FEDORA_HOST }}"
            - name: FEDORA_PROTOCOL
              value: "{{ .Values.FEDORA_PROTOCOL }}"
            - name: FEDORA_PORT
              value: "{{ .Values.FEDORA_PORT }}"
            {{- if .Values.s3 }}
            - name: S3_ENABLED
              value: "true"
            - name: S3_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: "phaidra-s3-access"
                  key: "AWS_ACCESS_KEY_ID"
            - name: S3_BUCKETNAME
              valueFrom:
                secretKeyRef:
                  name: "phaidra-s3-access"
                  key: "BUCKET_NAME"
            - name: S3_ENDPOINT
              valueFrom:
                secretKeyRef:
                  name: "phaidra-s3-access"
                  key: "ENDPOINT_URL"
            - name: S3_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: "phaidra-s3-access"
                  key: "AWS_SECRET_ACCESS_KEY"
            {{- end }}
          image: phaidraorg/pixelgecko-dist:1aec19f1
          name: pixelgecko
          resources: {}
          volumeMounts:
            - mountPath: /mnt/fedora
              name: fedora
              readOnly: true
            - mountPath: /mnt/converted_images
              name: pixelgecko
            - mountPath: /config
              name: pixelgecko-config
              readOnly: true
          command: ["/bin/sh"]
          args: [ "-c", "cp /config/pixelgecko_conf.yml /opt/pixelgecko/pixelgecko_conf.yml && perl pixelgecko.pl --watch"]
      restartPolicy: Always
      volumes:
        - name: fedora
          persistentVolumeClaim:
            claimName: fedora-pvc
            readOnly: true
        - name: pixelgecko
          persistentVolumeClaim:
            claimName: pixelgecko-pvc
        - name: pixelgecko-config
          configMap:
            name: pixelgecko-config
            items:
              - key: "pixelgecko_conf.yml"
                path: "pixelgecko_conf.yml"
status: {}
