apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    phaidra.app: ui
  name: ui-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      phaidra.app: ui
  strategy: {}
  template:
    metadata:
      labels:
        phaidra.app: ui
    spec:
      containers:
        - env:
            - name: "OUTSIDE_HTTP_SCHEME"
              value: "{{ .Values.OUTSIDE_HTTP_SCHEME }}"
            - name: "PHAIDRA_HOSTNAME"
              value: "{{ .Values.PHAIDRA_HOSTNAME }}"
            - name: "PHAIDRA_HOSTPORT"
              value: "{{ .Values.PHAIDRA_HOSTPORT }}"
            - name: "PHAIDRA_PORTSTUB"
              value: "{{ .Values.PHAIDRA_PORTSTUB }}"
            - name: "PHAIDRA_PRIMARY_COLOR"
              value: "{{ .Values.PHAIDRA_PRIMARY_COLOR }}"
            - name: PHAIDRA_API_HOST_INTERNAL
              value: "{{ .Values.PHAIDRA_API_HOST_INTERNAL }}"
            # avoids npm error:
            # ERR! Your cache folder contains root-owned files, due to a bug in
            # ERR! previous versions of npm which has since been addressed"
            - name: "npm_config_cache"
              value: "/tmp/.npm"
          image: phaidraorg/ui:facc3228
          name: ui
          resources:
            requests:
              cpu: "50m"
              memory: "150M"
            limits:
              cpu: "150m"
              memory: "500M"
      restartPolicy: Always
status: {}
