{% extends "main.html" %}

{% block tabs %}
  {{ super() }}

  <section class="bg-white">
    <div class="py-16 px-8 mx-auto max-w-screen-xl text-center md:py-24">
      <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl lg:text-6xl">A Repository for Living Digital Heritage</h1>

      <p class="mb-8 text-lg font-normal text-gray-800 lg:text-xl sm:px-16 lg:px-48">
        Protect and Share the Value of Digital Assets
      </p>
      <p class="mb-8 text-lg font-normal text-gray-800 lg:text-xl sm:px-16 lg:px-48">
        PHAIDRA helps organizations manage and preserve the full value of their digital assets: from diverse media files, digitized artifacts and collections; to research, data and analysis
      </p>
      <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
        <a href="about/" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300">
          About PHAIDRA
        </a>
      </div>
    </div>
  </section>
  
  <section class="bg-white">
    <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 lg:px-6">
      <!-- show replacement icons when mobile -->
      <div class="flex md:hidden justify-center items-center">
        <span class="w-24 text-gray-800">
          {% include ".icons/material/file-upload.svg" %}
        </span>
        <span class="w-12 text-green-700">
          {% include ".icons/material/checkbox-marked-outline.svg" %}
        </span>
      </div>
      <div class="mt-4 md:mt-0">
        <h2 class="mb-4 text-3xl tracking-tight font-extrabold">Build Your Digital Value</h2>
        <p class="mb-6 font-light text-gray-800 text-lg">
          Across academia, cultural heritage and broader research; digital resources make up an ever increasing part of real-world assets.
        </p>
        <p class="mb-6 font-light text-gray-800 text-lg">
          Unlock and grow the full value of all your digital assets.  
        </p>
        <a href="about/" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
          Explore PHAIDRA
        </a>
      </div>
      <!-- right oriented icons, hidden when mobile -->
      <div class="hidden md:flex justify-center items-center">
        <span class="w-1/2 text-gray-800">
          {% include ".icons/material/file-upload.svg" %}
        </span>
        <span class="w-1/6 text-green-700">
          {% include ".icons/material/checkbox-marked-outline.svg" %}
        </span>
      </div>
    </div>
    
    <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 lg:px-6">
      <!-- left oriented icons, just adapt when mobile -->
      <div class="flex justify-center items-center">
        <span class="w-24 md:w-1/3 text-gray-600">
          {% include ".icons/material/grave-stone.svg" %}
        </span>
        <span class="w-32 md:w-1/2 ml-8 md:ml-0 text-gray-800">
          {% include ".icons/material/run-fast.svg" %}
        </span>
      </div>
      <div class="mt-4 md:mt-0">
        <h2 class="mb-4 text-3xl tracking-tight font-extrabold" id="stop-the-graveyard">Leave the Digital&nbsp;Graveyard Go FAIR Instead</h2>
        <p class="mb-6 font-light text-gray-800 text-lg">
          Keep your digital assets alive. Ensure your resources can be securely managed, shared, used and reused.
        </p>
        <p class="mb-6 font-light text-gray-800 text-lg">
          PHAIDRA is FAIR to its core, designed so you can easily deliver on FAIR principles.
        </p>
        <a href="fair-data/" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
          Learn About FAIR
        </a>
      </div>
    </div>
    
    <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 lg:px-6">
      <!-- show replacement icons when mobile -->
      <div class="flex md:hidden justify-center items-center">
        <span class="w-16 mr-8 text-gray-600">
          {% include ".icons/material/cog.svg" %}
        </span>
        <span class="w-32 text-gray-800">
          {% include ".icons/material/diving-scuba.svg" %}
        </span>
      </div>
      <div class="mt-4 md:mt-0">
        <h2 class="mb-4 text-3xl tracking-tight font-extrabold" id="stop-the-graveyard">Free and Open Source Software</h2>
        <p class="mb-6 font-light text-gray-800 text-lg">
          As a project pushing for Open Academia, it only was natural to become Open Source.
        </p>
        <p class="mb-6 font-light text-gray-800 text-lg">
          Learn about the tech stack, how to run PHAIDRA locally and how to contribute to the code and the project.
        </p>
        <a href="docs/overview/" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
          Dive Into the Open Tech
        </a>
      </div>
      <!-- right oriented icons, hidden when mobile -->
      <div class="hidden md:flex justify-center items-center">
        <span class="w-1/4 mr-8 text-gray-600">
          {% include ".icons/material/cog.svg" %}
        </span>
        <span class="w-1/2 text-gray-800">
          {% include ".icons/material/diving-scuba.svg" %}
        </span>
      </div>
    </div>
  </section>
  
    <hr class="my-8"/>
    
    <div class="gap-8 items-center mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 py-8 px-4 lg:px-6">
      <img alt="map of middle europe showing places where PHAIDRA is used (Austria, Bosnia and Herzogovina, Italy, Montenegro, Serbia)" src="/assets/img/phaidra_partners_map.jpeg">
      <div class="mt-4 md:mt-0">
        <h2 class="mb-4 text-3xl tracking-tight font-extrabold">Join the PHAIDRA Community</h2>
        <p class="mb-6 font-light text-gray-800 text-lg">Take part in a connected community including dozens of public institutions, each with a diverse use case: from research data to historic pictures to museum art, everyone is welcome.</p>
        <a href="community/overview/" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
          Meet the Community
        </a>
      </div>
    </div>
  
    <div class="py-4 lg:py-8 mx-auto max-w-screen-xl px-4">
      <h3 class="flex mb-2 justify-center items-center text-center text-2xl font-extrabold tracking-tight">
        Trusted by 25 Institutions Around the Globe
      </h3>
      <h3 class="flex justify-center items-center text-center tracking-tight leading-tight text-gray-900 text-xl">
        with 500.000+ Objects Stored
        <span class="ml-2 w-6 text-gray-700" tooltip="300.000+ Volare Vorarlberg 160.000+ Vienna University 58.000+ Università di Padova">
          {% include ".icons/material/information-outline.svg" %}
        </span>
      </h3>
      <div class="flex my-4 lg:my-8  gap-8 md:gap-16 justify-center items-center text-gray-800" id="partner-logos">
        <a href="https://phaidra.univie.ac.at/" class="flex items-center">
          <img src="/assets/external/img/logos/uni-vienna-blue.svg" alt="">
        </a>
        <a href="https://phaidra.kug.ac.at/" class="flex items-center">
          <img alt="" src="/assets/external/img/logos/kug.svg">
        </a>
        <a href="https://door.donau-uni.ac.at/" class="flex items-center">
          <img alt="" src="/assets/external/img/logos/uwk-dt-blue.svg">
        </a>
        <a href="https://phaidra.cab.unipd.it/" class="flex items-center">
          <img alt="" src="/assets/external/img/logos/unipa.svg">
        </a>
      </div>
        
      <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
        <a href="community/list-of-partners/" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-base px-5 py-3 text-center me-2 mb-2">
          View All Instances
        </a>
      </div>
    </div>
  
    <hr class="my-8"/>

    <div class="gap-8 items-center py-4 md:py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 lg:px-6">
      <!-- show top image when mobile - do not link image on mobile as there is a clear button below -->
      <img alt="epistemicast logo" src="/assets/external/img/logos/epistemicast.png" class="block md:hidden pb-6">
      <div>
        <h2 class="mb-4 text-3xl tracking-tight font-extrabold">Join the Open Academia Movement</h2>
        <p class="mb-6 font-light text-gray-800 text-lg">PHAIDRA is just one piece of the puzzle of today's big questions around Open&nbsp;Research, Open&nbsp;Access and Open&nbsp;Academia. Tune into the discussion on EpistemiCast with guests from around the globe.</p>
        <a href="https://epistemicast.org" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
          Visit EpistemiCast 🎙️
        </a>
      </div>
      <!-- right oriented, hide when mobile -->
      <a href="https://epistemicast.org" class="hidden md:block">
        <img alt="epistemicast logo" src="/assets/external/img/logos/epistemicast.png">
      </a>
    </div>
  </section>
{% endblock %}
{% block content %}{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}
